html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Lato', sans-serif;
  color: rgb(80, 85, 107);
  background-color: white;
  /* background-color: #e5ebea; */
  font-size: 1rem;
  margin-bottom: 50px;
  text-align: justify;
}

hr {
  height: 1px;
  border: none;
  color: rgb(80, 85, 107);
  background-color: rgb(80, 85, 107);
  opacity: 0.3;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  font-weight: 700;
  color: inherit;
}
.container {
  width: 65%;
}
#logoSidebar {
  width: 150px;
  /* height: auto; */
  margin-left: 15px;
  padding-bottom: 2rem;
}
/* ----- Specific buttons for our theme ----- */
.btn-theme {
  background-color: rgb(80, 85, 107);
  border: none;
  color: whitesmoke;
}

.uppercase {
  text-transform: uppercase;
}
/* ----- Page title over background ----- */
.caption {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.caption span.border {
  background-color: rgba(80, 85, 107, 0.6);
  color: #e5ebea;
  padding: 18px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 10px;
  border-radius: 9px;
}

.caption span.border:hover {
  background-color: rgb(80, 85, 107);
}

.caption a:hover {
  text-decoration: none;
}


/* ----- Image styling ----- */
img {
  width: 100%;
  height: auto;
}

#carouselImg {
  max-width: 100%;
  max-height: 480px;
  object-fit: cover;
}

img:hover {
  color: rgba(14, 14, 15, 0.15);
  opacity: 0.9;
  transform: scale(1.02);
}

#imageGallery {
  height: 100%;
  column-count: 3;
  margin-left: 75px;
  width: 100%;
  /* margin-right: 50px; */
  /* padding: 1px 16px; */
}

#imageGallery img {
  /* padding:8px; */
  /* padding-left: 1px; */
  padding-top: 16px;
}

/* ----- Background images ----- */
.bg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 960px;
  background-color: black;
  opacity: .99;
  display: flex;
}

.fg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 960px;
  /* -webkit-filter: blur(3px); */
  /* filter: grayscale(75%) blur(3px); */
}

.homepage {
  background-image: url("../images/30456630457_4c43ebecd0_k.jpg");
}

.foodAndBev {
  background-image: url("../images/45166347674_fa6d4bd084_b.jpg");
}

.property {
  background-image: url("../images/42610018361_567186653f_o.jpg");
}

.editorial {
  background-image: url("../images/30456630457_4c43ebecd0_k.jpg");
}

.corporate {
  background-image: url("../images/45166298934_e6b79e4ef0_k.jpg");
}

.lifestyle {
  background-image: url("../images/44765375732_75bb4ea38f_k.jpg");
}

.fashion {
  background-image: url("../images/44266150955_1820b64602_k.jpg");
}
.portrait {
  background-image: url("../images/40824461810_3ffbdb563d_k.jpg");
}

/* ----- Navbar styling ----- */
.navbar {
  background-color: rgba(80, 85, 107, 0.6);
  min-height: 5px;
  padding: 0px 5px;
  color: white;
}
.navbar-brand {
  font-size: 1rem;
}

.navbar-toggler {
  color: pink;
}

.dropdown-divider {
  height: 1px;
  border: none;
  color: #e5ebea;
  background-color: #e5ebea;
  opacity: 0.3;
}

.navbar-nav {
  text-align: center;
  color: white;
}
/* ----- Sidebar styling ----- */
.sidebar {
  margin: 0;
  margin-top: 100px;
  margin-left: 55px;
  padding: 0;
  width: 200px;
  position: fixed;
  max-height: 835px;
  overflow: auto;
  /* padding-top: 10%; */
  font-size: 1rem;
  display: none;
}

.sidebar.scrolled {
  display: block;
}

.sidebar a {
  display: block;
  color: rgb(80, 85, 107);
  text-decoration: none;
  text-transform: uppercase;
  text-align: end;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidebar li.active {
  /* padding-bottom: 0%; */
  font-weight: 700;
}

.sidebar a:hover {
  font-weight: 700;
}

.socials a {
  font-size: 1.3rem;
  padding-left: 1.5rem;
}

.socials li {
  display: flex;
  float: right;
  justify-content: flex-end;
  text-align: end;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 600px;
}

/* ----- Lightbox controls ----- */
.ekko-lightbox-item img {
  width: 100%;
  padding: 0px;
}

.modal-header {
  background-color: pink;
}


/* ----- Homepage carousel styling ----- */
.carousel-item {
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  border-bottom: 10px;
  border-color: rgb(80, 85, 107);
  border-style: solid;
  border-radius: 1%;
}

.container {
  padding-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: inherit;
  margin-top: 40px;
  /* margin-left: 200px; */
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  display: flex;
}

.cursive {
  font-family: 'Caveat', cursive;
  color: #a4b0f5;
  font-size: 2rem;
  text-align: center;
  margin-left: 140px;
}

#page2 {
  height: 1px;
}

.about {
  margin-top: 60px;
}

.vertical-center {
  max-height: 15vh;
  max-width: 75%;
  display: flex;
  align-items: center;
}

.footer {
  position: fixed;
  height: auto;
  width: 100%;
  bottom: 0px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  background-color: #e5ebea;
  opacity: .6;
  display: none;
}

.footer.scrolled {
  display: flex;
}

.footer p {
  margin-bottom: 0;
}

.display-4 {
  font-size: 3vw;
}

.display-5 {
  font-size: 2vw;
}

@media screen and (max-width: 968px) {
  #imageGallery {
    margin-left: 0px;
    column-count: 2;
  }

  .jumbotron {
    margin-left: auto;
  }

  .sidebar {
    display: none;
  }

  .sidebar.scrolled {
    display: none;
  }

  #mobileNavbar {
    display: flex;
  }

  img {
    width: 100%;
    height: auto;
  }

  .display-4 {
    font-size: 2rem;
  }

}

@media screen and (max-width: 780px) {
  #imageGallery {
    margin-left: 0px;
    column-count: 2;
  }

  .content {
    margin-left: 0;
  }

  .bg {
    height: 568px;
  }
}

@media screen and (max-width: 580px) {

  /* Set the columns style */
  #imageGallery {
    width: 100%;
    column-count: 1;
  }

  .caption span.border {
    font-size: 1rem;
    padding: 9px;
    letter-spacing: 5px;
  }
  .cursive {
    font-size: 1.3rem;
  }
  .bg {
    height: 896px;
  }


}